.timeline {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #EBEBE4;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 15px;
  padding: 1rem;
  background-color: #EBEBE4;
  color: black;
  cursor: pointer;
}

.timeline-item.active {
  border-color: #0d5383;
  background-color: aliceblue;
  color: #0d5383;
}

.separator {
  flex-grow: 1;
  height: 1px;
  background-color: #EBEBE4;
}


.timeline-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
}

.vertical-line {
  width: 2px;
  height: 50px;
  background-color: #EBEBE4;
}

.selected-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0d5383;
  margin-top: 10px;
}
